<form>
  <label>Email</label>
  {{input value=email}}
  <label>Password</label>
  {{input value=password type="password"}}
  <button class="btn btn-primary" {{action 'register' user}}>register</button>
</form>
